<h2>Figure: <%= @figure.name %></h2>
List of Landmarks<br>
  <%@figure.landmarks.each do |i|%>
    <li>
    <%=i.name%><br>
  </li>
  <%end%>
<br><br>

List of Titles<br>
  <%@figure.titles.each do |i|%>
    <li><%=i.name%><br>
  </li>
  <%end%>
<br><br>
