<h2>Figure: <%= @figure.name %></h2>
List of Landmarks<br>
<li>
  <%@figure.landmarks.each do |i|%>
    <%=i.name%><br>
  <%end%>
</li><br><br>

List of Titles<br>
<li>
  <%@figure.titles.each do |i|%>
    <%=i.name%><br>
  <%end%>
</li><br><br>
