<h2>List of Titles</h2>

  <%@titles.each do |i|%>
    Name: <%=i.name%><br>

    <%unless !i.figures.nil?%>
      Related figures:
        <%i.figures.each do |ii|%>
        <li>
          <%=ii.name%>
        <%end%>
        </li><br>
    <%end%>
    <br>
  <%end%>
